.offer-card-section {
  background-image: linear-gradient(#ccc, #eee);
  border-radius: 8px;
  margin: 0 0 32px;
  width: 100%;
  max-width: 412px;
  cursor: pointer;
  overflow: hidden;
}

.offer-card-info {
  padding: 8px;
}

.offer-card-info p {
  margin: 0;
  padding: 0;
}