.footer-button {
  position: fixed;
  border: none;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top: solid 1px black;
}

.footer-button-loggedIn{
  position:relative;
  border: none;
  bottom: 0;
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top: solid 1px black;
  color: #636363;
  text-decoration: none;
}