.make-offer-form {
  max-width: 412px;
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px;
  margin: 24px;
}
.make-offer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
