/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* COLORS
text colour:  #636363; 
background colour: #eee
card backgroud colour: #D9D9D9, #ccc
*/
* {
  box-sizing: border-box;
}
html, body, head {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.offer-cards-main {
  margin-top: 100px;
  padding-bottom: 80px;
  display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}


