/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* text colour:  #636363; */
* {
  box-sizing: border-box;
}
html, body, head {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.offer-cards-main {
  margin-top: 100px;
  padding-bottom: 80px;
}

